@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

  .navbar-icon {
    @apply relative flex items-center justify-center h-12 w-12 mt-2 mb-2 mx-auto shadow-lg
            bg-gray-800 text-theme-1-4 hover:bg-theme-1-5 hover:text-white
            rounded-3xl hover:rounded-xl transition-all duration-300 ease-linear cursor-pointer;
  }

  .navbar-icon-bottom {
    @apply absolute bottom-0 left-2 flex items-center justify-center h-12 w-12 mt-2 mb-2 mx-auto shadow-lg
            bg-gray-800 text-theme-1-4 hover:bg-theme-1-5 hover:text-white
            rounded-3xl hover:rounded-xl transition-all duration-300 ease-linear cursor-pointer;
  }

  .navbar-text {
    @apply absolute w-auto p-2 m-2 min-w-max left-14 rounded-md shadow-md text-white
            bg-gray-900 text-xs font-bold transition-all duration-100 scale-0 origin-left;
  }

  .navbar-hr {
    @apply border border-gray-200 dark:border-gray-800 rounded-full mx-2;
  }

  .email-input {
    @apply relative;
  }

  .password-input {
    @apply relative;
  }

  .login-button {
    @apply relative bg-theme-1-5 hover:bg-theme-1-4 flex items-center justify-center
            rounded-3xl hover:rounded-xl transition-all duration-300 ease-linear cursor-pointer;
  }

  .register-button {
    @apply relative bg-theme-1-5 hover:bg-theme-1-4 flex items-center justify-center
            rounded-3xl hover:rounded-xl transition-all duration-300 ease-linear cursor-pointer;
  }

  .login-box {
    @apply bg-theme-1-1 w-[70%] md:w-1/3 mr-auto ml-24 md:mx-auto p-10 md:p-12 my-10 rounded-lg shadow-2xl grid space-y-5;
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
